MAILHOG_PORT_ONE=8025
MAILHOG_PORT_TWO=1025
MAIL_SERVER="mailhog"
MAIL_PORT=1025
MAIL_USE_TLS=False
MAIL_USE_SSL=False
MAIL_DEBUG=True
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_DEFAULT_SENDER="dev@mailhog"